services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    command: sh -c "npx prisma db push --accept-data-loss && npm run db:seed && npm start"
    working_dir: /app
    environment:
      - NODE_ENV=production
      - DATABASE_URL=${DATABASE_URL}
      - NEXTAUTH_SECRET=${NEXTAUTH_SECRET}
      - NEXTAUTH_URL=${NEXTAUTH_URL}
      - META_APP_ID=${META_APP_ID}
      - META_APP_SECRET=${META_APP_SECRET}
      - API_KEY=${API_KEY}
      - NEXT_PUBLIC_META_APP_ID=${NEXT_PUBLIC_META_APP_ID}
    restart: unless-stopped
    depends_on:
      database:
        condition: service_healthy
    ports:
      - "3000:3000"
    networks:
      - trackflow-network

  database:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "127.0.0.1:5432:5432"
    volumes:
      - ./data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - trackflow-network

volumes:
  data:

networks:
  trackflow-network:
    driver: bridge